* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App__wrapper {
    background: #090941;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
}

.content__wrapper {
    border: 1px solid cyan;
    background: #090941;
    width: 30vw;
    height: 50vh;
}

.counter__screen-wrapper {
    display: grid;
    grid-template-rows: 4fr 1fr;
}

.counter {
    display: flex;
    justify-content: center;
    align-items: center;
    background: cyan;
    text-align: center;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    font-size: 40px;
    font-weight: 700;
    min-height: 150px;
    gap: 10px;
}

.btn_wrapper {
    border: 1px solid cyan;
    color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}

.default__btn {
    background-color: cyan;
    border: none;
    color: black;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    font-weight: 700;
    border-radius: 15px;
    min-width: 45%;
}


.default__btn:hover:not(:disabled) {
    cursor: pointer;
    background: yellow;
}

.default__btn:disabled {
    opacity: 0.5;
}

.settings__wrapper {
    display: grid;
    grid-template-rows: repeat(2, 2fr) 1fr;
}

.settings__title {
    font-size: 30px;
}

.counter__title {
    font-size: 40px;
    flex-basis: 100%;
    text-align: center;
    color: #00d8ff;
}

.default__input {
    font-size: 20px;
    text-align: center;
    padding: 10px;
}

.error__input {
    font-size: 20px;
    text-align: center;
    padding: 10px;
    border: 1px solid red;
    color: red;
}

.error__input:focus {
    outline: none;
}

.error {
    color: red;
}
